@use "./configs";



.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
//CONTENEDORES FIXTURE
.fixtureContainer {
  display: flex;

  .faseContainer {
    @include configs.container($bcolor: rgb(43, 43, 43));

    .containerOponents {
      @include configs.container;
      margin-bottom: 10px;

      .containerPlayer {
        display: flex;
        align-items: center;

        .playerData {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 10px;

          .name {
            @include configs.fontFixture;
          }
          .userAvatar {
            height: 50px;
            width: 50px;
            border-radius: 50%;
          }
        }
        .points {
          @include configs.fontFixture;
          font-size: 30px;
          background-color: rgb(43, 43, 43);
          width: 50px;
          border: 0;
          border-radius: 10px;
          margin-left: 10px;
          text-align: center;
          height: 40px;
        }
      }
    }
  }
}

//ESTADOS DEL JUGADOR
.playing {
  @include configs.state;
}

.empty {
  @include configs.state;
  opacity: 0.5;
}

.looser{
  @include configs.state($theme: red);
  opacity: 0.8;
  background-color: rgb(160, 0, 0);
  
}
.winner {
  @include configs.state($theme: yellow, $shadow: 5px);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: yellowgreen;
}
