@use "./configs";

.containerAvatar {
  @include configs.avatarContainer;

  .userAvatar {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    margin-bottom: 10px;
    @include configs.state;
  }
}
