@mixin state($theme: white) {
  box-shadow: 0 0 3px 3px $theme;
}

@mixin avatarContainer($pad: 10px, $bcolor: rgb(88, 88, 88)) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: fit-content;
  padding: $pad $pad 0 $pad;
  border-radius: 10px;
  background-color: $bcolor;
}
