@mixin state($theme: white, $shadow: 3px) {
  box-shadow: 0 0 $shadow $shadow $theme;
}

@mixin container($bcolor: rgb(88, 88, 88)) {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 10px 10px 0 10px;
  border-radius: 30px;
  background-color: $bcolor;
  justify-content: space-around;
  margin: 15px;
}

@mixin fontFixture($fontColor: white, $fontSize: small) {
  font-family: "Cabin", sans-serif;
  color: $fontColor;
  font-size: $fontSize;
}
